<div class="container">
  <h1>Hola mundo!</h1>
  <p>{{ my_name }}, viene lo bueno, esta vez sí Angular!</p>
  <ul>
    <!-- Control flow -->
    <li *ngFor="let task of tasks">{{ task }}</li>
  </ul>

  <hr />
  <!-- String interpolation -->
  <p>{{ "jelou, ".repeat(3) }}</p>

  <hr />
  <!-- Property binding -->
  <input type="text" name="txt1" id="txt1" [value]="my_name" />

  <hr />
  <!-- Event binding -->
  <button type="button" (click)="onClickMeHandler()">Click me</button><br />
  <button type="button" (dblclick)="onClickMeHandler()">Double click me</button>

  <p>
    (change)
    <input
      type="text"
      name="txt2"
      id="txt2"
      [value]="my_name"
      (change)="onChangeHandler($event)"
    />
  </p>

  <p>
    (keydown)
    <input
      type="text"
      name="txt3"
      id="txt3"
      [value]="my_name"
      (keydown)="onKeyDownHandler($event)"
    />
  </p>

  <!-- Reactivity model -->
  <hr />
  <h2>Signals</h2>
  <p>Me encuentro en: {{ myLocation() }}</p>
  <p>
    <input
      type="text"
      name="txt4"
      id="txt4"
      [value]="myLocation()"
      (change)="onChangeRxHandler($event)"
    />
  </p>
  <p>Mi nueva ubicación: {{ myLocation() }}</p>
</div>
