<div class="container">
  <h1>Hola mundo!</h1>
  <p>{{ my_name }}, viene lo bueno, esta vez sí Angular!</p>
  <ul>
    <!-- Control flow -->
    <li *ngFor="let task of tasks">{{ task }}</li>
  </ul>

  <hr />
  <!-- String interpolation -->
  <p>{{ "jelou, ".repeat(3) }}</p>

  <hr />
  <!-- Property binding -->
  <input type="text" name="txt1" id="txt1" [value]="my_name" />

  <hr />
  <!-- Event binding -->
  <button type="button" (click)="onClickMeHandler()">Click me</button><br />
  <button type="button" (dblclick)="onClickMeHandler()">Double click me</button>

  <p>
    (change)
    <input
      type="text"
      name="txt2"
      id="txt2"
      [value]="my_name"
      (change)="onChangeHandler($event)"
    />
  </p>

  <p>
    (keydown)
    <input
      type="text"
      name="txt3"
      id="txt3"
      [value]="my_name"
      (keydown)="onKeyDownHandler($event)"
    />
  </p>

  <!-- Reactivity model -->
  <hr />
  <h2>Signals</h2>
  <p>Me encuentro en: {{ myLocation() }}</p>
  <p>
    <input
      type="text"
      name="txt4"
      id="txt4"
      [value]="myLocation()"
      (change)="onChangeRxHandler($event)"
    />
  </p>
  <p>Mi nueva ubicación: {{ myLocation() }}</p>

  <!-- Control flow -->
  <hr />
  <ul>
    Cant. de tareas:
    {{
      myTasks().length
    }}
    <li *ngFor="let myTask of myTasks(); index as i">{{ i }}. {{ myTask }}</li>
  </ul>

  <!-- if flow -->
  <hr />
  <!-- Eg. 1 -->
  <div *ngIf="1 === 1">My important content!</div>
  <p>&nbsp;</p>
  <!-- Eg. 2 -->
  <label for="txt5">Edad: </label>
  <input
    type="number"
    name="txt5"
    id="txt5"
    [value]="user().age"
    (change)="onAgeChangeHandler($event)"
  /><br />
  <p *ngIf="user().name == 'Emerson' && user().age > 18; else elseBlock">
    Perfil completo <strong>con</strong> lista de Proyectos y Clientes
  </p>
  <ng-template #elseBlock>
    Perfil completo <strong>sin</strong> lista de Proyectos y Clientes
  </ng-template>

  <!-- switch flow -->
  <hr />
  <div [ngSwitch]="user().role">
    <p *ngSwitchCase="'Administrator'">Modo Súper Sayayín activado!</p>
    <p *ngSwitchCase="'Editor'">Modo Editor de Contenido activado!</p>
    <p *ngSwitchDefault>Modo Visitante activado!</p>
  </div>

  <!-- input control flow -->
  <hr />
  <input type="color" name="inpt6" id="inpt6" [formControl]="frmColorCtrl" />
  <p>Color: {{ frmColorCtrl.value }}</p>

  <!-- attribute binding -->
  <svg>
    <g>
      <rect
        x="0"
        y="0"
        height="100"
        width="100"
        [attr.fill]="frmColorCtrl.value"
      />
    </g>
  </svg>

  <!-- css style property binding -->
  <hr />
  <input type="number" name="inpt7" id="inpt7" [formControl]="frmWidthCtrl" />
  <span class="box" [style.width.px]="frmWidthCtrl.value"></span>
</div>
